html,body {
	height: 100%;
}

#map-canvas {
	height: 300px;
}

#map-canvas img {
	max-width: none;
}

.newItem {
	display: none;
}

.black-footer a {
	color: #cfcfcf;
}

.black-footer {
	padding: 70px 0 20px;
	color: #acacac;
	background-image: linear-gradient(bottom, rgb(71, 71, 71) 66%, rgb(102, 102, 102) 100%);
	background-image: -o-linear-gradient(bottom, rgb(71, 71, 71) 66%, rgb(102, 102, 102) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(71, 71, 71) 66%, rgb(102, 102, 102) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(71, 71, 71) 66%, rgb(102, 102, 102)
		100%);
	background-image: -ms-linear-gradient(bottom, rgb(71, 71, 71) 66%, rgb(102, 102, 102) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.66, rgb(71, 71, 71)),
		color-stop(1, rgb(102, 102, 102)));
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px;
}

#push {
	height: 200px;
}

.fileupload{
	display:none;
}